# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Jest Coverage and Cache
coverage/
.jest/

# Babel cache
.babel_cache/

# ESLint cache
.eslintcache

# Environment variables
.env
.env.local
.env.*.local

# Build outputs
dist/
build/

# Temporary files
tmp/
temp/
*.tmp
*.temp

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/
*.swp
*~

# Git specific
.git/

# main.js for running the code
0-main.js
